<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>Xiuxiu Demo</title>

    <link rel="stylesheet" href="//cdn.bootcss.com/weui/1.1.2/style/weui.min.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/jquery-weui/1.0.1/css/jquery-weui.min.css">
    <link rel="stylesheet" href="/assets/css/demo.css">
</head>

<body ontouchstart>
    <header class='demos-header'>
        <h1 class="demos-title">秀秀的网页</h1>
    </header>

    <div class="weui-cells__title">功能介绍</div>
    <div class="demos-img">
        <img src="/assets/img/demo.jpg" alt="介绍">
    </div>

    <form action="{{ url_for('main.router_question_post') }}" method="POST"  
          enctype="multipart/form-data" id="demo-form">
        <div class="weui-cells weui-cells_form">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <div class="weui-uploader">
                        <div class="weui-uploader__hd">
                            <p class="weui-uploader__title">上传照片</p>
                            <div class="weui-uploader__info">0/1</div>
                        </div>
                        <div class="weui-uploader__bd">
                            <div class="weui-uploader__input-box">
                                <input class="weui-uploader__input" type="file" accept="image/*" name="photo">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="weui-cells__title">问题一</div>
        <div class="weui-cells weui-cells_radio">
            <label class="weui-cell weui-check__label">
                <div class="weui-cell__bd">
                    <p>选项 1</p>
                </div>
                <div class="weui-cell__ft">
                    <input type="radio" class="weui-check" name="question1" value="选项 1" checked="checked">
                    <span class="weui-icon-checked"></span>
                </div>
            </label>
            <label class="weui-cell weui-check__label">
                <div class="weui-cell__bd">
                    <p>选项 2</p>
                </div>
                <div class="weui-cell__ft">
                    <input type="radio" class="weui-check" name="question1" value="选项 2">
                    <span class="weui-icon-checked"></span>
                </div>
            </label>
        </div>

        <div class="weui-cells__title">问题二</div>
        <div class="weui-cells weui-cells_radio">
            <label class="weui-cell weui-check__label">
                <div class="weui-cell__bd">
                    <p>选项 1</p>
                </div>
                <div class="weui-cell__ft">
                    <input type="radio" class="weui-check" name="question2" value="选项 1" checked="checked">
                    <span class="weui-icon-checked"></span>
                </div>
            </label>
            <label class="weui-cell weui-check__label">
                <div class="weui-cell__bd">
                    <p>选项 2</p>
                </div>
                <div class="weui-cell__ft">
                    <input type="radio" class="weui-check" name="question2" value="选项 2">
                    <span class="weui-icon-checked"></span>
                </div>
            </label>
            <label class="weui-cell weui-check__label">
                <div class="weui-cell__bd">
                    <p>选项 3</p>
                </div>
                <div class="weui-cell__ft">
                    <input type="radio" class="weui-check" name="question2" value="选项 3">
                    <span class="weui-icon-checked"></span>
                </div>
            </label>
        </div>

        <div class="weui-cells__title">问题三</div>
        <div class="weui-cells weui-cells_form">
            <div class="weui-cell weui-cell_switch">
                <div class="weui-cell__bd">我帅吗？</div>
                <div class="weui-cell__ft">
                    <input type="checkbox" class="weui-switch" name="question3" value="帅">
                </div>
            </div>
        </div>

        <div class="weui-cells__title">问题四</div>
        <div class="weui-cells weui-cells_form">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <textarea class="weui-textarea" placeholder="请输入文本" rows="3" name="question4"></textarea>
                    <div class="weui-textarea-counter">
                        <span>0</span>/200
                    </div>
                </div>
            </div>
        </div>

        <div class="weui-btn-area">
            <button class="weui-btn weui-btn_primary" id="submit-btn">提交</button>
        </div>
    </form>

    <script src="//cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/fastclick/1.0.6/fastclick.min.js"></script>
    <script>
        $(function () {
            FastClick.attach(document.body);
        });
    </script>
    <script src="//cdn.bootcss.com/jquery-weui/1.0.1/js/jquery-weui.min.js"></script>
    <script src="/assets/js/demo.js"></script>
</body>

</html>