<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>Xiuxiu Demo</title>

    <link rel="stylesheet" href="//cdn.bootcss.com/weui/1.1.2/style/weui.min.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/jquery-weui/1.0.1/css/jquery-weui.min.css">
    <link rel="stylesheet" href="/assets/css/demo.css">
</head>

<body ontouchstart>
    <div class="weui-msg">
        <div class="weui-msg__icon-area">
            <i class="weui-icon-success weui-icon_msg"></i>
        </div>
        <div class="weui-msg__text-area">
            <h2 class="weui-msg__title">提交成功</h2>
            <p class="weui-msg__desc">感谢您的参与</p>
        </div>
        <div class="weui-form-preview">
            <div class="weui-form-preview__hd">
                <label class="weui-form-preview__label">总体评价</label>
                <em class="weui-form-preview__value">非常帅</em>
            </div>
            <div class="weui-form-preview__bd">
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">问题 1</label>
                    <span class="weui-form-preview__value">{{ ans.question1 }}</span>
                </div>
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">问题 2</label>
                    <span class="weui-form-preview__value">{{ ans.question2 }}</span>
                </div>
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">问题 3</label>
                    <span class="weui-form-preview__value">{{ ans.question3 }}</span>
                </div>
            </div>
        </div>
        <div class="weui-msg__opr-area">
            <p class="weui-btn-area">
                <button class="weui-btn weui-btn_primary">推荐给朋友</button>
                <a href="{{ url_for('main.router_index') }}" class="weui-btn weui-btn_default">返回首页</a>
            </p>
        </div>
        <div class="weui-msg__extra-area">
            <div class="weui-footer">
                <p class="weui-footer__links">
                    <a href="https://xiuxiu.uunus.com" class="weui-footer__link">Powered by xiuxiu</a>
                </p>
                <p class="weui-footer__text">Copyright © 2016-2017 xiuxiu</p>
            </div>
        </div>
    </div>


    <script src="//cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/fastclick/1.0.6/fastclick.min.js"></script>
    <script>
        $(function () {
            FastClick.attach(document.body);
        });
    </script>
    <script src="//cdn.bootcss.com/jquery-weui/1.0.1/js/jquery-weui.min.js"></script>
</body>

</html>