body,
html {
    height: 100%;
    -webkit-tap-highlight-color: transparent;
}

.demo-img {
    padding: 5px 15px;
}

.demo-img img {
    width: 100%;
    height: auto;
    max-width: 100%;
    display: block;
}

.demo-title {
    text-align: center;
    font-size: 34px;
    color: #3cc51f;
    font-weight: 400;
    margin: 0 15%;
}

.demo-header {
    padding: 35px 0;
}

.demo-upload-img img {
    width: 100%;
    height: auto;
    max-width: 250px;
    display: block;
    margin: 20px auto;
}

footer {
    margin: 25px 0;
}
